# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Dataset (ÇOK ÖNEMLİ)
dataset/
raw_dataset/
data/

# Images
*.jpg
*.png
*.jpeg

# Trained models
model/
*.h5
*.keras

# Flask uploads
static/uploads/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
