# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Dataset (ÇOK ÖNEMLİ)
raw_dataset/
dataset/
data/
*.jpg
*.png
*.jpeg

# Trained models
model/
*.h5
*.keras

# Uploads
static/uploads/

# OS
.DS_Store
Thumbs.db
