# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ===============================
# Virtual Environments
# ===============================
env/
venv/
.venv/
eye_cnn/

# ===============================
# Dataset (VERY IMPORTANT)
# ===============================
dataset/
raw_dataset/
data/
*.jpg
*.png
*.jpeg

# ===============================
# Trained Models
# ===============================
model/
*.h5
*.keras

# ===============================
# Results (Graphs are OK)
# ===============================
# (results klasörü kalsın, grafikler görünsün)

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# TensorFlow / Cache
# ===============================
logs/
checkpoints/
# ===============================
# Flask uploads
# ===============================
static/uploads/
